@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    /*FONTS*/
    --primary-heading-fonts: "Libre Bodoni", serif;
    --secondary-heading-fonts: "Cormorant Infant", serif;
    --article-fonts: "Cormorant Infant", serif;
    --primary-button-fonts: "Libre Bodoni", serif;
    
    /*COLOR*/
    --primary-submit-button: #7eaab9;
    --secondary-submit-button: rgb(183, 38, 6);
    --hover-button-brown: #E5E1DA;
    --primary-fonts-color: #494949;
    --secondary-fonts-color: #FFFFFF;
    --primary-bg-color: #F1F0E8;
    --primary-text-box-color: #E3F6F5;
    --primary-hover-color: #223f48;

    /*FONTS SIZE*/
    --heading-font-size: 36px;
    --sub-heading-font-size: 24px;
    --article-font-size: 18px;

    /*BACKGROUND AND BOX SHADOW*/
    --bg-gradient: linear-gradient(to top,#E5E1DA,#fffffd, #E5E1DA);
    --main-box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    background-color: #F1F0E8;
}
.page-wrapper {
    width: 100vw;
}
.heading {
    background-image: var(--bg-gradient);
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;

    .heading-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .heading-menu__link {
        text-align: center;
        text-decoration: none;
        color: var(--primary-fonts-color);
        font-size: var(--article-font-size);
        font-family: var(--primary-heading-fonts);
        word-spacing: 0.5rem;
        font-weight: 500;
        padding: 1rem 1.5rem;
    }
    .heading-menu__link:hover {
            background-color: var(--hover-button-brown);
            color: var(--primary-fonts-color);
             
        }
    
    .heading-logo__link img {
            width: 250px;
          
        }
}
    
/*SEARCH FORM SECTION*/

.container {
    background-image: url(../assets/images/living-roombeside-mountain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;

    .container__form {
        background-color: var(--primary-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);

    }
    .form__label, .form__input {
        font-family: var(--primary-heading-fonts);
        margin-left: 1rem;
    }
    input {
        margin-left: 0.5rem;
        padding-left: 10px;
    }
}
.form-btn__submit-button {
        width: fit-content;
        padding: 0.5rem 3rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: var(--primary-heading-fonts);
        margin-left: 2rem;
        word-spacing: 10px;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        border: none;
        border-radius: 5px;
        background-color: var(--primary-submit-button);

}   
.form-btn__submit-button:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-fonts-color);
}

