
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');


:root {
    /*FONTS*/
    --primary-heading-fonts: "Libre Bodoni", serif;
    --secondary-heading-fonts: "Cormorant Infant", serif;
    --article-fonts: "Cormorant Infant", serif;
    --primary-button-fonts: "Libre Bodoni", serif;
    
    /*COLOR*/
    --primary-submit-button: #7eaab9;
    --secondary-submit-button: rgb(183, 38, 6);
    --hover-button-brown: #d5cfc4;
    --primary-fonts-color: #252525;
    --secondary-fonts-color: #FFFFFF;
    --primary-bg-color: #F1F0E8;
    --primary-text-box-color: #E3F6F5;
    --primary-hover-color: #223f48;

    /*FONTS SIZE*/
    --heading-font-size: 36px;
    --sub-heading-font-size: 24px;
    --article-font-size: 18px;

    /*BACKGROUND AND BOX SHADOW*/
    --bg-gradient: linear-gradient(to top,#d5cfc4,#f1f0e8, #d5cfc4);
    --main-box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: var(--primary-bg-color);
}
.page-wrapper {
    min-width: 1000px;
}
.heading {
    padding: 50px 200px;
    background-image: var(--bg-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        transform: translateY(10px);
    
    }
    .menu__link {
        text-decoration: none;
        color: var(--primary-fonts-color);
    }
    .menu__title {
        text-align: center;
        font-family: var(--primary-heading-fonts);
        word-spacing: 0.5rem;
        font-weight: 500;
        padding: 1rem 2rem;
    }
    .menu__title:hover {
            background-color: var(--hover-button-brown);
            color: var(--primary-fonts-color);
             
        }
    
    .heading-logo__link img {
            width: 250px;
          
        }
}
    
   
/*SEARCH FORM SECTION*/

.container {
    background-image: url(../assets/images/living-roombeside-mountain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    

    .container__form {
        background-color: var(--primary-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        padding: 1.5rem;
    }
    .form__label, .form__input {
        font-family: var(--article-fonts);
        padding-right: 5px;
        padding-left: 10px;
        height: 30px;
    }
    #form-options__type, #form-options__quantity {
        font-family: var(--article-fonts);
        height: 30px;
    }
    input {
        padding-left: 10px;
        
    }
    
}

.heading__title-first--transform {
    transform: translateX(30%);
    color: var(--primary-fonts-color);
    font-size: 60px;
    padding-top: 3rem;
}


.form-btn__submit-button {
        width: fit-content;
        padding: 0.5rem 3rem;
        font-size: var(--sub-heading-font-size);
        font-weight: 700;
        font-family: var(--article-fonts);
        margin-left: 2rem;
        word-spacing: 10px;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        border: none;
        border-radius: 5px;
        background-color: var(--primary-submit-button);
    .fa-magnifying-glass {
        transform: scale(1.25);
    }
}   
.form-btn__submit-button:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-fonts-color);
}

/*OFFERS SECTION*/

.aside {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.aside__flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading__title-second {
    font-family: var(--primary-heading-fonts);
    font-size: var(--sub-heading-font-size);
    font-weight: 100;
    color: var(--primary-fonts-color);
    text-align: center;
    word-spacing: 10px;
}
.heading__title-third {
    font-family: var(--secondary-title-fonts);
    font-size: var(--sub-heading-font-size);
    font-weight: 200;
    word-spacing: 5px;
    color: var(--primary-fonts-color);
    margin-bottom: 2rem;
}

.aside__heading__title--italic {
    font-style: italic;
    margin-bottom: 2rem;
}
.offers__article__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    

    img{
        aspect-ratio: 3 / 2;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 2rem;

    }
}
.article-text {
    font-family: var(--article-fonts);
    font-size: var(--article-font-size);
    width: 100%;
    padding-bottom: 2rem;
    text-align: left;
    overflow: hidden;
    color: var(--primary-fonts-color);
}

.info-btn__submit-btn {
    border: none;
    border-radius: 5px;
    font-style: italic;
    color: var(--primary-hover-color);
    font-family: var(--primary-button-fonts);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;

}

.info-btn__submit-btn:hover {
    text-decoration: underline;
}

/*FOOTER SECTION*/

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    gap: 1rem;
    padding: 3rem 7rem;
    font-family: var(--secondary-title-fonts);
    color: var(--primary-fonts-color);
    background-image: var(--bg-gradient);
   
    
}
.footer-news-letter__form {
    display: flex;
    flex-direction: column;

    
    .footer__input {
        display: flex;
        flex-direction: row;

    .footer__input--email {
        padding: 0.5rem;
        width: 272px;
           
    }
    .fa-solid {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-40px);
        width: 35px;
        height: 35px;
}
}
}
.footer__link-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .footer__link {
        text-decoration: none;
        color: var(--primary-fonts-color);
        font-weight: 700;
        font-size: 18px;
    }
    .footer__link:hover {
        text-decoration: underline;
    }
}
.footer-adress__title {
    margin: 0;
}
.footer-adress__text {
    padding: 0;
}
.footer-social-media__icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    cursor: pointer;
    
    .fa-brands{
        transform: scale(2);
        

    }

}

/*ABOUT HOTEL*/

.header__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 7rem;

    img {
        width: 60%;
        aspect-ratio: 4 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        background-color: var(--hover-button-brown);
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        margin-bottom: 3rem; 
    }
    .header__title-first {
        font-family: var(--primary-heading-fonts);
        color: var(--primary-fonts-color);
        font-size: var(--heading-font-size);
        font-weight: 100;
        word-spacing: 10px;
        letter-spacing: 1px;
        text-align: center;
        
    }
    .header__sub-title {
        font-family: var(--secondary-heading-fonts);
        color: var(--primary-fonts-color);
        font-size: var(--sub-heading-font-size);
        font-weight: 100;
        text-align: center;
        padding-bottom: 3rem;
        width: 750px;
        word-spacing: normal;
        
        }
}

/*BUTTON STANDARD*/
.submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
       
}
.submit-btn__button {
    margin-left: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: var(--primary-heading-fonts);
    color: var(--secondary-fonts-color);
    background-color: var(--primary-hover-color);
    text-decoration: none;
    font-size: var(--article-font-size);
    font-weight: 100;
    letter-spacing: 2px;
    box-shadow: var(--main-box-shadow);
    word-spacing: 0.5rem;
    width: fit-content;
    cursor: pointer;
}
.submit-btn__button:hover {
    background-color: var(--primary-text-box-color);
    color: var(--primary-fonts-color);
}
.submit-btn__button--small {
    font-size: 12px;
    margin: 0;
}



/*ROOM GALLORY SECTION*/
.room-container__grid {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-auto-rows: auto;
    place-items: center;
    gap: 1rem;
    padding: 3rem 7rem;
    background-color: #E5E1DA;

    .room__article img {
        width: 570px;
        aspect-ratio: 9 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        }
    
    .articles-detail__box {
        font-family: var(--secondary-title-fonts);
        color: var(--primary-fonts-color);
        font-size: 18px;
        width: 570px;
        height: auto;
        padding-bottom: 0.5rem;
    }
    
    .room-btn__button {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 570px;
    background-color: #E5E1DA;
    border: none;
        
        .fa-regular {
            transform: scale(2);
            margin-right: 10px;
        }
      
    }
    .info-btn__submit-btn--drak {
        background-color: #E5E1DA;
            
    }
    
    .info-btn__submit-btn--drak:hover {
        text-decoration: underline;
    }
}
.heading__title-second--small {
    font-family: var(--primary-heading-fonts);
    color: var(--primary-fonts-color);
    font-weight: 100;
    margin-top: 1rem;
    }


/*FACILITY SECTION*/

.aside__facility-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aside__facility__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem;
    
    .aside__article--small img {
        width: 400px;
        aspect-ratio: 9 / 6;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);

        }
        .aside-heading__title-second {
            text-align: start;
            margin: 0;
        }
        
        .fa-readme {
            margin-right: 10px;
        }
        
}


/*SEARCH & BOOKING PAGE*/

.search {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(min-width(300px, 1fr));
    grid-auto-flow: row;
    padding: 0 7rem;
    background-color: var(--primary-bg-color);

    .search__heading-title {
        letter-spacing: 2px;
        font-weight: 100;
        grid-row: 1;
        grid-column: 1 / span 3;
        pad: 3rem 0;
    }

    .search__form {
        grid-column: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 3rem;
        width: 300px;
        height: 500px;
        padding: 1rem;
        font-family: var(--secondary-title-fonts);
        border: none;
        background-image: var(--bg-gradient);
        box-shadow: var(--main-box-shadow);

        .label-name {
            display: flex;
            flex-direction: column;
        }
        .input-details {
            width: 267px;
            height: 40px;
            font-family: var(--secondary-title-fonts);
            font-size: 18px;
            padding-left: 5px;
        }
       
        .search-form-btn__submit-button {
            margin: 3rem auto;
            padding: 0.5rem 1rem;
            font-size: 24px;
            color: var(--secondary-fonts-color);
            background-color: var(--primary-hover-color);
            font-weight: 100;
            cursor: pointer;
        }
        .search-form-btn__submit-button:hover {
            background-color: var(--primary-text-box-color);
            color: var(--primary-fonts-color);
        }
        i {
            transform: scale(2);
            margin-left: 20px;
            margin-right: 20px;
            font-size: 1rem;
        }
   
}

   
}


/*ROOM INFOMATION SECTION*/
.room-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 600px;
   
}

.room-info__flex-box {
    margin: 0 3rem;
    padding-bottom: 3rem;
    
    
      
    img {
        max-width: 750px;
        aspect-ratio: 9 / 5;
        border: none;
        border-radius: 4px;
        box-shadow: var(--main-box-shadow);
    }
    .room__heading-title {
        margin: 0;
        text-align: start;
    }
    
}

.search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: var(--primary-bg-color);

    .fa-circle-info {
        transform: scale(2);
        margin-right: 10px;
    }
}

/*RESULTS PAGE*/

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    
}
.results__heading-title {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    counter-reset: var(--primary-fonts-color);
    font-family: var(--primary-heading-fonts);
    font-weight: 500;
    letter-spacing: 1px;
    height: 80px;
    margin-top: 2rem;

    .results__text--center {
        text-align: center;
    }
   
}


.heading__title-third--small {
    font-family: var(--article-fonts);
    font-size: var(--sub-heading-font-size);
    margin: 0;
    color: var(--primary-fonts-color);
}
.results__fieldset--center {
    text-align: center;
    padding: 2rem;

    
}
.article-text--center {
    margin: 0;
    text-align: center;
}

.results__flex-box {
    grid-column: 1;
    grid-row: 2 / span 7;
    margin-left: 200px;
    height: 500px;
    padding: 20px;

    
}
.results-room__grid {
    grid-column: 2 / span 2;
    grid-row: 2 / span 7;
    margin-left: 5rem;
    
    .results-info {
        margin: 0;
    }
}
.results__box--sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--article-font-size);
    width: 300px;
    height: fit-content;
    background-image: var(--bg-gradient);
    box-shadow: var(--main-box-shadow);
}

/*BOOKING PAGE*/

.booking-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    box-shadow: var(--main-box-shadow);
    padding: 20px;
    margin: 5rem auto;
    color: var(--primary-fonts-color);
    background-image: var(--bg-gradient);

    .form__input, select {
        width: 97%;
        height: 40px;
        margin: 0 0.5rem 1rem 0.5rem;
        border: none;
        box-shadow: var(--main-box-shadow);
        border-radius: 4px;
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
        padding: 10px;
    }
    .form__input--short {
        margin: 0 0.5rem 2rem 0.5rem;
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
        
    }
    .form__label {
        padding-left: 1rem;
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
    }
    .form__label--short {
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
    }
    .legend__form {
        font-family: var(--primary-heading-fonts);
        font-size: var(--sub-heading-font-size);
        word-spacing: 5px;
        
    }

    
}

/*div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    /*background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }

*/
