

@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /*FONTS*/
    --primary-heading-fonts: "Libre Bodoni", serif;
    --secondary-heading-fonts: "IBM Plex Serif", serif;
    --article-fonts: "IBM Plex Serif", serif;
    --primary-button-fonts: "Libre Bodoni", serif;
    
    /*COLOR*/
    --primary-submit-button: #7eaab9;
    --secondary-submit-button: rgb(183, 38, 6);
    --hover-button-brown: #d5cfc4;
    --primary-fonts-color: #252525;
    --secondary-fonts-color: #FFFFFF;
    --primary-bg-color: #F1F0E8;
    --primary-text-box-color: #E3F6F5;
    --primary-hover-color: #223f48;

    /*FONTS SIZE*/
    --heading-font-size: 36px;
    --sub-heading-font-size: 24px;
    --article-font-size: 18px;

    /*BACKGROUND AND BOX SHADOW*/
    --bg-gradient: linear-gradient(to top,#d5cfc4,#f1f0e8, #d5cfc4);
    --main-box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.3);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: var(--primary-bg-color);
    display: grid;
    place-items: center;
}
.page-wrapper {
    width: 100vw;
}
.heading {
    padding: 3rem 5rem;
    background-image: var(--bg-gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        display: flex;
        /*align-items: center;
        cursor: pointer;
        transform: translateY(10px);*/
    
    }
    .menu__link {
        text-decoration: none;
        color: var(--primary-fonts-color);
    }
    .menu__title {
        text-align: center;
        font-family: var(--primary-heading-fonts);
        word-spacing: 0.5rem;
        font-weight: 500;
        padding: 1rem;
    }
    .menu__title:hover {
        background-color: var(--hover-button-brown);
        color: var(--primary-fonts-color);   
    }

    .menu__ham {
        display: none;
    }
    
    .heading-logo__link img {
         width: 250px;  
    }
}
    
   
/*SEARCH FORM SECTION*/

.container {
    background-image: url(../assets/images/living-roombeside-mountain.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    

    .container__form {
        background-color: var(--primary-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 6px 0 rgba(3, 3, 3, 0.25);
        padding: 1.5rem;
    }
    .form__label, .form__input {
        font-family: var(--article-fonts);
        padding-right: 5px;
        padding-left: 10px;
        height: 30px;
    }
    #form-options__type, #form-options__quantity {
        font-family: var(--article-fonts);
        height: 30px;
        
    }
    input {
        padding-left: 10px;
        
    }
    
}


/*OFFERS SECTION*/

.aside {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    .aside__header__img--circle {
    background-image: url(../assets/images/nwy-decoration.png);
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    border-radius: 50%;
   

    }
}
.aside__flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*PRESENT SECTION*/
.gift-container {
    display: flex;
    flex-direction: row;
    padding: 7rem;
    background-color: var(--hover-button-brown);
}
.gift {
    padding: 3rem 0rem 2rem 0rem;
    flex: 1;
}
.gift__image {
    background-image: url(../assets/images/gift.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 65%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(40%);
    background-color: var(--primary-bg-color);
    border-radius: 50%;
}
.gift__image--circle {
    aspect-ratio: 1;
}
.gift-article {
    margin-top: 10%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
hr {
    width: 100%;
    border: 1px solid var(--primary-fonts-color);
}


/*FONT STANDART*/

.header__title-first {
    font-family: var(--primary-heading-fonts);
    color: var(--primary-fonts-color);
    font-size: var(--heading-font-size);
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: center;
    
}
.header__title-first--larg {
    font-size: 60px;
}
.header__title-first__padding-top {
    padding-top: 3rem;
}

.heading__title-first--transform {
    transform: translateX(30%);
    color: var(--primary-fonts-color);
    font-size: 60px;
    padding-top: 3rem;
}


.heading__title-second {
    font-family: var(--primary-heading-fonts);
    font-size: var(--sub-heading-font-size);
    font-weight: 100;
    color: var(--primary-fonts-color);
    word-spacing: 10px;
}
.heading__title-second--center {
    text-align: center;
}
.heading__title-third {
    font-family: var(--secondary-title-fonts);
    font-size: var(--article-font-size);
    font-weight: 600;
    color: var(--primary-fonts-color);
    margin-bottom: 0.5rem;
    
}
.heading__title-third--center {
    text-align: center;
}

.aside__heading__title--italic {
    font-style: italic;
    margin-bottom: 2rem;
}

.header__sub-title {
    font-family: var(--secondary-heading-fonts);
    color: var(--primary-fonts-color);
    font-size: var(--sub-heading-font-size);
    font-weight: 500;
    text-align: center;
    padding-bottom: 3rem;
    width: 750px;
    word-spacing: normal;
    
}
.header__sub-title--small {
    font-weight: 400;
    font-size: var(--article-font-size);
}

.article-text {
    font-family: var(--article-fonts);
    font-size: var(--article-font-size);
    font-weight: 400;
    padding-bottom: 2rem;
    text-align: left;
    overflow: hidden;
    color: var(--primary-fonts-color);
}
.article-text--center {
    padding: 0;
    text-align: center;
}

/*OFFERS SECTION*/


.offers__article__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    

    img{
        aspect-ratio: 3 / 2;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 2rem;

    }
}



/*FOOTER SECTION*/

.grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    gap: 1rem;
    padding: 3rem 7rem;
    
    color: var(--primary-fonts-color);
    background-image: var(--bg-gradient);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.footer-news-letter__form {
    display: flex;
    flex-direction: column;

    
    .footer__input {
        display: flex;
        flex-direction: row;
    }
    .footer__input--email {
        padding: 0.5rem;
        width: 272px;
           
    }
    .fa-solid {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-40px);
        width: 35px;
        height: 35px;
    }
}

.footer__link-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

   a {
        font-family: var(--secondary-title-fonts);
    }

    .footer__link {
        text-decoration: none;
        color: var(--primary-fonts-color);
        font-weight: 500;
        font-size: 18px;
        
    }
    .footer__link:hover {
        text-decoration: underline;
    }
}
.footer-adress__title {
    margin: 0;
}
.footer-adress__text {
    padding: 0;
}
.footer-social-media__icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    cursor: pointer;
    
    .fa-brands{
        transform: scale(2);
        

    }

}

/*ABOUT HOTEL*/

.header__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 7rem;

}   
.header__image--bg {
    width: 30%;
    background-image: url(../assets/images/09-day.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
    border-radius: 50%;
}





/*BUTTON STANDARD*/
.form-btn__submit-button {
    width: fit-content;
    padding: 0.5rem 3rem;
    font-size: var(--sub-heading-font-size);
    font-weight: 700;
    font-family: var(--article-fonts);
    margin-left: 2rem;
    word-spacing: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-submit-button);
    .fa-magnifying-glass {
    transform: scale(1.25);
}
}   

.form-btn__submit-button:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-fonts-color);
}
.submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
       
}
.submit-btn__button {
    margin-left: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-family: var(--primary-heading-fonts);
    color: var(--secondary-fonts-color);
    background-color: var(--primary-hover-color);
    text-decoration: none;
    font-size: var(--article-font-size);
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 0.5rem;
    width: fit-content;
    cursor: pointer;
}
.submit-btn__button:hover {
    background-color: var(--primary-text-box-color);
    color: var(--primary-fonts-color);
}
.submit-btn__button--small {
    font-size: 12px;
    margin: 0;
}
.submit-btn__button--center{
    display: flex;
    align-self: center;
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
}

.info-btn__submit-btn {
    border: none;
    border-radius: 5px;
    font-style: italic;
    color: var(--primary-hover-color);
    font-family: var(--primary-button-fonts);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--primary-bg-color);

}

.info-btn__submit-btn:hover {
    text-decoration: underline;
}

.info-btn__submit-btn--drak {
    background-color: #E5E1DA;
        
}

.info-btn__submit-btn--drak:hover {
    text-decoration: underline;
}



/*ROOM GALLORY SECTION*/
.room-container__grid {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-auto-rows: auto;
    place-items: center;
    padding: 50px 250px;
    gap: 1rem;
    background-color: #E5E1DA;

    .room__article img {
        width: 570px;
        aspect-ratio: 9 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        
        }
    
    .room-btn__button {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 570px;
    background-color: #E5E1DA;
    border: none;
        
        .fa-regular {
            transform: scale(2);
            margin-right: 10px;
        }
      
    }
    .info-btn__submit-btn--drak {
        background-color: #E5E1DA;
            
    }
    
    .info-btn__submit-btn--drak:hover {
        text-decoration: underline;
    }
}
.heading__title-second--small {
    font-family: var(--primary-heading-fonts);
    color: var(--primary-fonts-color);
    font-weight: 100;
    margin-top: 1rem;
    }


/*FACILITY SECTION*/

.aside__facility-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.aside__facility__grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: auto;
    place-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem;
    
    .aside__article--small img {
        width: 400px;
        aspect-ratio: 9 / 6;
        border: none;
        border-radius: 5px;
        

        }
        .aside-heading__title-second {
            text-align: start;
            margin: 0;
        }
        
        .fa-readme {
            margin-right: 10px;
        }
        
}


/*SEARCH PAGE*/

.search {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
    

    .search__heading-title {
        letter-spacing: 2px;
        font-weight: 100;
        grid-row: 1;
        grid-column: 1 / span 3;
        padding: 2rem 0;
    }

    .search__form {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        width: 300px;
        height: fit-content;
        padding: 1rem;
        font-family: var(--secondary-title-fonts);
        border: none;
        background-image: var(--bg-gradient);
        box-shadow: var(--main-box-shadow);

        .label-name {
            display: flex;
            flex-direction: column;
        }
        .input-details {
            width: 267px;
            height: 40px;
            font-family: var(--secondary-title-fonts);
            font-size: 18px;
            padding-left: 5px;
        }
       
        .search-form-btn__submit-button {
            margin: 3rem auto;
            padding: 0.5rem 1rem;
            font-size: 24px;
            color: var(--secondary-fonts-color);
            background-color: var(--primary-hover-color);
            font-weight: 100;
            cursor: pointer;
        }
        .search-form-btn__submit-button:hover {
            background-color: var(--primary-text-box-color);
            color: var(--primary-fonts-color);
        }
        i {
            transform: scale(2);
            margin-left: 20px;
            margin-right: 20px;
            font-size: 1rem;
        }
   
}
.search__form--fixed {
    position: fixed;

}
   
}
.description {
    text-align: left;
    margin: 1rem 0;
    
    .article-text {
        padding-bottom: 0;
    }
}

.search-room__grid {
    grid-column: 2 / span 2;
    grid-row: 1;
    
    
}


/*ROOM INFOMATION SECTION*/
.room-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    
}

.room-info__flex-box {
    margin: 0 3rem;
    padding-bottom: 3rem;
    
    
      
    img {
        max-width: 750px;
        aspect-ratio: 9 / 5;
        border: none;
        border-radius: 4px;
       
    }
    .room__heading-title {
        margin: 0;
        text-align: start;
    }
    
}

.search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: var(--primary-bg-color);

    .fa-circle-info {
        transform: scale(2);
        margin-right: 10px;
    }
}

/*RESULTS PAGE*/

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 3rem;
    
}
.results__heading-title {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    counter-reset: var(--primary-fonts-color);
    font-family: var(--primary-heading-fonts);
    font-weight: 500;
    letter-spacing: 1px;
    height: 80px;
    margin-top: 2rem;

    .results__text--center {
        text-align: center;
    }
   
}


.heading__title-third--small {
    font-family: var(--article-fonts);
    font-size: var(--sub-heading-font-size);
    margin: 0;
    color: var(--primary-fonts-color);
}
.results__fieldset--center {
    text-align: center;
    padding: 2rem;

    
}


.results__flex-box {
    grid-column: 1;
    grid-row: 2 / span 7;
    margin-left: 200px;
    padding: 20px;

    
}
.results-room__grid {
    grid-column: 2 / span 2;
    grid-row: 2 / span 7;
    margin-left: 5rem;
    
    .results-info {
        margin: 0;
    }
}
.results__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--article-font-size);
    width: 300px;
    height: fit-content;
    background-image: var(--bg-gradient);
    box-shadow: var(--main-box-shadow);

    
}

/*BOOKING PAGE*/

.booking-header__title {
    background-image: url(../assets/images/meditation.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.booking-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    box-shadow: var(--main-box-shadow);
    padding: 20px;
    margin: 5rem auto;
    color: var(--primary-fonts-color);
    background-image: var(--bg-gradient);

    .form__input, select {
        width: 97%;
        height: 40px;
        margin: 0 0.5rem 1rem 0.5rem;
        border: none;
        border-radius: 4px;
        font-family: var(--article-fonts);
        font-size: 14px;
        padding: 10px;
    }
    .form__input--short {
        margin: 0 0.5rem 2rem 0.5rem;
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
        
    }
    .form__label {
        padding-left: 1rem;
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
    }
    .form__label--short {
        font-family: var(--article-fonts);
        font-size: var(--article-font-size);
    }
    .legend__form {
        font-family: var(--primary-heading-fonts);
        font-size: var(--sub-heading-font-size);
        word-spacing: 5px;
        
    }
    textarea {
        font-family: var(--article-fonts);
    }

    
}

/*MEDIA QUERIES EFFECT
ADAPTING TO MOBILE AND SMALLER DEVICES*/

@media screen and (max-width: 768px) {
    .page-wrapper {
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .heading {
        padding: 1rem 2rem;
    }
    .heading .menu__link {
        display: none;
    }

    .heading .menu__ham {
        display: block;
        transform: scale(2);
    }


    .heading__logo img {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container__form {
        width: 100%;
        height: 300px;
        flex-direction: column;
    }
    .form__input, #form-options__type,
    #form-options__quantity {
        width: 100%;
        font-size: 12px;
    }
    .submit-btn__button, .submit-btn__button--small {
        margin-top: 1rem;
        align-items: center;
    }
/*ALL FONTS SIZES*/
    .header__title-first--larg {
        font-size: var(--sub-heading-font-size);
    }
    .header__title-first {
        font-size: 18px;
    }
    .heading__title-second, 
    .aside__heading__title, 
    .heading__title-second--italic,
    .heading__title-second--center,
    .heading__title-second--small {
        font-size: 14px;

    }
    .heading__title-third,
    .heading__title-third--center,
    .heading__title-third--small,
    .aside__heading__title--italic,
    .header__sub-title,
    .header__sub-title--small {
        font-size: 12px;
        font-weight: 400;
        word-spacing: 0;
    }
    .article-text,
    .article-text--center,
    .articles-detail__box,
    .articles-detail__box--media-query
    .aside__article--small {
        font-size: 10px;
        font-weight: 300;
    }
    
/*ALL BUTTONS*/
    .info-btn__submit-btn {
        font-size: 10px;
        letter-spacing: 0;
    }
    .submit-btn__button {
        font-size: 12px;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0.5rem;
    }

/*END BUTTONS*/
    
    .header__title__media-query {
        margin-top: 45%;
    }
    .aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 2rem 0.25rem;
        
        .aside__header__img--circle {
            width: 80%;
            margin-bottom: 1rem;
        }
    }
    .aside__flex {
        width: 80%;
    }

    .offers__article__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
    }
    .article {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .offers__gallery img{
        margin: 10px 0;
    }
    
    .offers__text__article {
        margin: 0;
        padding-bottom: 10px;
    }
    .gift-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;

    }
    .gift__image {
        width: 80%;
        transform: translateX(0);
    }

    .gift {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    .gift-article {
        margin: 0;
        padding: 0 2rem;
        gap: 0;
        align-items: center;
    }
    .gift-article__media-query {
        margin: 0;
        padding-bottom: 10px;
        
    }
    .gift-article-text__media-query {
        text-align: center;
        margin: 0;
        padding-bottom: 12px;
        font-weight: 400;
    }

   .grid-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    place-items: initial;


    .footer__link {
        font-size: 12px;
        
    }
   }

   /*ABOUT HOTEL*/

   .header__image {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    .header__image--bg {
        width: 80%;
        margin: 1rem 0;
    }
    .header__sub-title {
        width: 90%;
    }
   }

   .room-container__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;

    .room__article {
        .article-text {
            width: 355px;
            padding-bottom: 10px;
        }
    }
    .room-btn__button {
        flex-direction: column;
        align-items: center;
        gap: 10px;
       }
   }
   .room__article img {
    max-width: 355px;
   }
   

   /*HOTEL FACILITY SECTION*/
   .aside__facility__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
   }
   .aside__article--small img {
    max-width: 375px;
    padding: 10px;
   }



/*SEARCH PAGE*/

.search-container__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search {
    display: flex;
    flex-direction: column;

    .search__form, .search__form--fixed {
        position: static;
        margin: 0;
        padding: 0 10px;
    }
    
}
.room-info__flex-box {
    padding: 0;
    margin: 0;
    img {
        width: 355px;
    }
}
.search-btn {
    flex-direction: column;
    align-items: end;
}



}